/*:root {*/
/*    --color-white: #fff;*/
/*    --color-black: #000;*/

/*    --color-accent: #34547A;*/

/*    --text-secondary: #727272;*/
/*    --text-primary: #000;*/
/*    --text-accent: #fff;*/

/*    --bg-accent: #EEEFF1;*/

/*    --button-border: 1px solid transparent;*/
/*}*/

/*body {*/
/*    font-family: "Roboto", sans-serif;*/
/*    line-height: 1.64;*/

/*    display: grid;*/
/*    grid-template-rows: auto 1fr auto;*/
/*}*/

/*.container {*/
/*    padding: 0 calc(50vw - 555px);*/
/*}*/

/*.header {*/
/*    padding-top: 79px;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    box-sizing: border-box;*/
/*    background: var(--bg-accent);*/
/*}*/

/*.header__nav-toggler, #nav-toggler {*/
/*    display: none;*/
/*}*/

/*.header__list {*/
/*    display: flex;*/
/*    list-style: none;*/
/*    gap: 50px;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.header__link {*/
/*    text-decoration: none;*/
/*    color: var(--color-black);*/
/*    letter-spacing: 0.01em;*/
/*    text-transform: uppercase;*/
/*}*/

/*.header__link.header__link--active {*/
/*    color: var(--color-accent);*/
/*    font-weight: 500;*/
/*}*/

/*.header__link:hover,*/
/*.header__link:focus {*/
/*    opacity: .8;*/
/*}*/

/*.header__link:active {*/
/*    opacity: .3;*/
/*}*/

/*.offer {*/
/*    background: var(--bg-accent);*/
/*    padding-bottom: 141px;*/
/*    padding-top: 257px;*/
/*}*/

/*.offer_title {*/
/*    font-weight: 500;*/
/*    font-size: 48px;*/
/*    margin: 0 0 60px;*/
/*}*/

/*.offer_description {*/
/*    max-width: 540px;*/
/*    margin: 0 0 60px;*/
/*    color: var(--text-secondary);*/
/*}*/

/*.button {*/
/*    background: var(--color-accent);*/
/*    color: var(--text-accent);*/
/*    border: var(--button-border);*/
/*    display: inline-flex;*/
/*    justify-content: center;*/
/*    line-height: 1.64;*/
/*    letter-spacing: 0.01em;*/
/*    padding: 18px 41px;*/
/*    min-width: 225px;*/
/*    box-sizing: border-box;*/
/*}*/

/*.button:hover,*/
/*.button:focus {*/
/*    opacity: .8;*/
/*}*/

/*.button:active {*/
/*    opacity: .3;*/
/*}*/

/*.text-section {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    padding-top: 100px;*/
/*    padding-bottom: 100px;*/
/*}*/

/*.text-section--accent {*/
/*    background: var(--bg-accent);*/
/*}*/

/*.text-section__title {*/
/*    font-size: 32px;*/
/*    font-weight: 500;*/
/*    margin: 0 0 50px;*/
/*}*/

/*.text-section__description {*/
/*    color: var(--text-secondary);*/
/*    margin: 0;*/
/*    max-width: 540px;*/
/*    text-align: center;*/
/*}*/

/*.text-section__description:not(:last-child) {*/
/*    margin-bottom: 50px;*/
/*}*/

/*.text-section__video {*/
/*    width: 100%;*/
/*    aspect-ratio: 16/9;*/
/*}*/

.projects {
    background: var(--color-accent);
    padding-top: 100px;
    padding-bottom: 100px;
    color: var(--text-accent);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 49px;
}

.projects__item {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 5px 20px;
}

.projects__icon {
    grid-row: span 2;
}

.projects__number {
    line-height: 1;
}

.projects__type {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

.footer {
    background: var(--color-accent);
    height: 151px;
}

.footer__title {
    color: var(--text-accent);
    font-weight: 500;
    font-size: 21px;
    line-height: 1;
    margin-top: 50px;
}

.footer__description {
    color: var(--text-accent);
    margin-top: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.64;
    margin-bottom: 50px;
}

@media screen and (max-width: 1170px) {
    .container {
        padding-left: calc(50vw - 360px);
        padding-right: calc(50vw - 360px);

    }

    .projects {
        grid-template-columns: repeat(3, auto);
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: calc(50vw - 260px);
        padding-right: calc(50vw - 260px);
    }

    .header {
        padding-top: 20px;
        align-items: center;
    }

    .header__nav-toggler {
        display: block;
        background: none;
        border: none;
        padding: 0;
        position: relative;
        width: 45px;
        height: 45px;
    }

    .header__nav-toggler span,
    .header__nav-toggler::before,
    .header__nav-toggler::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background: var(--color-black);
        transition: .5s;
    }

    .header__nav-toggler::before {
        margin-top: -10px;
    }

    .header__nav-toggler::after {
        margin-top: 10px;
    }

    input:checked + .header__nav-toggler::before,
    input:checked + .header__nav-toggler::after {
        margin-top: 0;
        rotate: 225deg;
    }

    input:checked + .header__nav-toggler::after {
        rotate: -225deg;
    }

    input:checked + .header__nav-toggler span {
        opacity: 0;
    }

    .header__list {
        position: absolute;
        top: 65px;
        left: 0;
        height: calc(100dvh - 65px);
        background: var(--bg-accent);
        translate: -200vw 0;
        transition: translate .5s;
        flex-direction: column;
        overflow: auto;
        width: 100%;
        align-items: center;
        gap: 20px;
        padding: 20px;
        box-sizing: border-box;
    }

    #nav-toggler:checked ~ .header__list {
        translate: 0;
    }
}

@media screen and (max-width: 576px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .projects {
        grid-template-columns: repeat(2, auto);
        justify-content: center;
    }

    .offer {
        padding-top: 150px;
    }

    .offer_title {
        margin-bottom: 40px;
    }
}