@use 'mixins';

.container {
  @include mixins.respond(1170px) {
    padding-left: calc(50vw - 360px);
    padding-right: calc(50vw - 360px);
  }

  @include mixins.respond(768px) {
    padding-left: calc(50vw - 260px);
    padding-right: calc(50vw - 260px);
  }

  @include mixins.respond(576px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.projects {
  @include mixins.respond(1170px) {
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }

  @include mixins.respond(576px) {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
}

.header {
  @include mixins.respond(768px) {
    padding-top: 20px;
    align-items: center;

    &__nav-toggler {
      display: block;
      background: none;
      border: none;
      padding: 0;
      position: relative;
      width: 45px;
      height: 45px;

      span,
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background: $color-black;
        transition: 0.5s;
      }

      &::before {
        margin-top: -10px;
      }

      &::after {
        margin-top: 10px;
      }
    }

    input:checked + &__nav-toggler {
      &::before,
      &::after {
        margin-top: 0;
        rotate: 225deg;
      }

      &::after {
        rotate: -225deg;
      }

      span {
        opacity: 0;
      }
    }

    &__list {
      position: absolute;
      top: 65px;
      left: 0;
      height: calc(100dvh - 65px);
      background: $bg-accent;
      translate: -200vw 0;
      transition: translate 0.5s;
      flex-direction: column;
      overflow: auto;
      width: 100%;
      align-items: center;
      gap: 20px;
      padding: 20px;
      box-sizing: border-box;
    }

    #nav-toggler:checked ~ &__list {
      translate: 0;
    }
  }
}

.offer {
  @include mixins.respond(576px) {
    padding-top: 150px;

    &_title {
      margin-bottom: 40px;
    }
  }
}
